:local(.container) {
}

:local(.credential) {
  composes: smallShadow from global;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 4px;
}

:local(.credentialName) {
  flex: 1;
  font-weight: bold;
}
