:local(.container) {
  padding-bottom: 10px;
}

:local(.updating) {
  display: flex;
  align-items: center;
  background: #eee;
  border-radius: 5px;
  padding: 5px 10px;
}

:local(.updatingText) {
  margin-left: 10px;
  color: #444;
  position: relative;
  top: -1px;
}
