:local(.container) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.icon) {
  cursor: pointer;
}

:local(.menuText) {
  composes: button from global;
  font-weight: bold;
}

:local(.menuText) > * {
  margin-left: 5px;
}

:local(.menu) {
  z-index: -1;
  position: absolute;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  overflow: hidden;
  right: 0;
  top: 46px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}

:local(.menu) a {
  display: inline-block;
  padding: 15px;
  flex: 1;
  cursor: pointer;
}

:local(.menu) a:hover {
  background-color: #f2f0f0;
}

:local(.account) {
  text-align: center;
}

:local(.name) {
  font-size: 16px;
  margin-bottom: 5px;
  color: #000;
}

:local(.email) {
  font-size: 13px;
  color: #454545;
}

:local(.menuLink) {
  font-size: 14px;
  color: #454545;
}

:local(.menuLink) span {
  position: relative;
  top: 1.5px;
  margin-left: 10px;
}

:local(.divider) {
  height: 1px;
  background-color: #eee;
}

:local(.logoutIcons) {
  display: flex;
  border-top: 1px solid #eee;
}

:local(.logoutIcons) :local(.menuLink) {
  font-size: 12px;
  text-align: center;
  padding: 10px 15px;
}

:local(.logoutIcons) :local(.menuLink):last-child {
  border-left: 1px solid #eee;
}

.user-menu-enter,
.user-menu-leave.user-menu-leave-active {
  opacity: 0;
  transform: rotateX(-15deg);
  transform-origin: 50% -50px;
}

.user-menu-enter.user-menu-enter-active,
.user-menu-leave {
  opacity: 1;
  transform: rotateX(0deg);
  transition: all 300ms ease;
}
