:local(.userContainer) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}

:local(.owner) {
  color: #999;
}
